* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root {
--cold-turkey: #d3c0c4;
--body-color: #131432;
--indigo: #4958c7;
--shakespeare: #57a1d5;
--east-bay: #50537e;
--red-violet: #cd1cb7;
--kabul: #674a43;
--otro: #2b355a;
--thunder: #3b333a;
--river-bed: #455660;
}
.spectral-extrabold {
font-family: "Spectral", serif;
font-weight: 800;
font-style: normal;
}
.roboto-regular {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
}
  
.cinzel-decorative-regular {
font-family: "Cinzel Decorative", serif;
font-weight: 400;
font-style: normal;
}
  
body {
    background-color: var(--body-color);
    color: white;
} 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #131432;
    padding: 1rem 10px;
    z-index: 1;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    position: relative;
}
/*background animation*/
.box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(#57a1d5, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 12s linear infinite;
    pointer-events: none;
    z-index: 1;
}
.box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
}
.box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4){
    left: 55vw;
    animation-delay: 6s;
}
.box ul li:nth-child(5){
    left: 70vw;
    animation-delay: 8s;
}
@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10) translateX(-20%);
        opacity: 0;
        bottom: 100vh; 
    }
}
/* arrow down animation */
.box-arrows {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    display: block;
}
.box-arrows span{
    display: inline-block;
    width: 3px;
    height: 28px;
    background:white;
    border-radius:2px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
    z-index: 1000; 
  }
.box-arrows span:nth-of-type(1){
transform: rotate(-45deg);
}

.box-arrows span:nth-of-type(2){
transform: rotate(45deg);
}

@keyframes move{
0%{margin-top:0;}
50%{margin-top:30px;}
100%{margin-top:0;}
}


.logo {
    font-size: 35px;
    font-weight: bold;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.menu-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 400ms;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.menu {
    display: none; 
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.menu li:last-child {
    padding-bottom: 1rem;
}
.menu li a {
    color: white;
    display: block;
    padding: 1rem;

}
.menu li a:hover{
    color: var(--indigo);
    font-weight: bold;
    background-color: var(--cold-turkey);
}

.menu.open {
    display: flex;
    backdrop-filter: blur(40px);
    padding-bottom: 3rem;
    z-index: 2;
}

a {
    text-decoration: none;
    color: #333;
}
h1 {
    font-size: 2rem;
    color: var(--white);
    transition: all .6s;
}
h1 span{
    color: var(--shakespeare);
    font-size: 2.2rem;
}
/* title animation */
h1 span::before {
    content: "";
    right: -8px;
    top: 50%;
    height: 30px;
    width: 2px;
    background: var(--shakespeare);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}
h1 span.stop-blinking::before {
    animation: none;
}

/* About me seccion*/

.subtitules{
    text-align: center;
    margin: 3rem 0 3rem 0;
}
.div-borde{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.profile-image{
    width: 100%;
    height: auto;
    display: block;
    transform: translate(-20px, -20px); 
    z-index: 0; 
}
.borde {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    border: 5px solid var(--shakespeare);
    box-sizing: border-box; 
}
.p-about-me{
    margin: 1rem;
}
.p-about-me p, .p-project{
    margin: 0 auto;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .5rem;
}
.resume-en, .resume-sp{
    padding: .8rem 1rem .8rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
}
.resume-en{
    background: rgb(87,161,213);
    background: linear-gradient(90deg, rgba(87,161,213,1) 34%, rgba(85,26,219,1) 100%);
    border: none;
    margin-right: 1rem;
}

.resume-sp{
    background-color: var(--body-color);
    border: 2px solid rgba(85,26,219,1);
}
.buttons-resume{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* project section */
.container-project{
    margin: 1rem;
}
.title-project{
    font-weight: normal;
    text-transform: uppercase;
    color: var(--shakespeare);
    margin-bottom: 1rem;
}
.name-project{
    margin-bottom: .5rem;
}
.borde-img-project {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 4rem auto;
}

.img-project{
    width: 100%;
    height: auto;
    display: block;
    transform: translate(20px, 20px); 
    z-index: 0;  
}
.div-read-more{
    display: flex;
    justify-content: left;
}

.arrow-read{
    width: 10px;
    height: auto;
    margin-right: 8px;
}
.div-read-more p{
    font-size: .8rem;
    font-weight: 300;
    color: white;
}
.more-info-taxi, .more-info-teresa, .more-info-chat, 
.more-info-text, .more-info-portfolio, .more-info-movie,
.more-info-trivia, .more-info-guess, .more-info-all {
    display: none;
}

.button-all-projects{
    font-weight: 600;
    margin-bottom: 2rem;
}


/* Media querys para pantallas grandes */
@media (min-width: 769px) {
    .menu {
        display: flex; 
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        justify-content: flex-end;
    }

    .menu li {
        margin-left: 20px;
    }

    .menu-toggle {
        display: none; 
    }
}

