* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.container-general{
    margin: 0 auto;
    width: auto;
    max-width: 900px;
}

:root {
--cold-turkey: #d3c0c4;
--body-color: #131432;
--indigo: #4958c7;
--shakespeare: #57a1d5;
--east-bay: #50537e;
--red-violet: #cd1cb7;
--kabul: #674a43;
--otro: #2b355a;
--thunder: #3b333a;
--river-bed: #455660;
}
.spectral-extrabold {
font-family: "Spectral", serif;
font-weight: 800;
font-style: normal;
}
.roboto-regular {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
}
  
.cinzel-decorative-regular {
font-family: "Cinzel Decorative", serif;
font-weight: 400;
font-style: normal;
}
  
body {
    background-color: var(--body-color);
    color: white;
} 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #131432;
    padding: 1rem 10px;
    z-index: 1;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    position: relative;
}
/*background animation*/
.box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(#57a1d5, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 12s linear infinite;
    pointer-events: none;
    z-index: 1;
}
.box ul li:nth-child(2){
    left: 37vw;
    animation-delay: 2s;
}
.box ul li:nth-child(3){
    left: 25vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4){
    left: 55vw;
    animation-delay: 6s;
}
.box ul li:nth-child(5){
    left: 70vw;
    animation-delay: 8s;
}
@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10) translateX(-20%);
        opacity: 0;
        bottom: 100vh; 
    }
}
/* arrow down animation */
.box-arrows {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    display: block;
}
.box-arrows span{
    display: inline-block;
    width: 3px;
    height: 28px;
    background:white;
    border-radius:2px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
    z-index: 1000; 
  }
.box-arrows span:nth-of-type(1){
transform: rotate(-45deg);
}

.box-arrows span:nth-of-type(2){
transform: rotate(45deg);
}

@keyframes move{
0%{margin-top:0;}
50%{margin-top:30px;}
100%{margin-top:0;}
}


.logo {
    font-size: 35px;
    font-weight: bold;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.menu-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 400ms;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.menu {
    display: none; 
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.menu li:last-child {
    padding-bottom: 1rem;
}
.menu li a {
    color: white;
    display: block;
    padding: 1rem;

}
.menu li a:hover{
    color: var(--indigo);
    font-weight: bold;
    background-color: var(--cold-turkey);
}

.menu.open {
    display: flex;
    backdrop-filter: blur(40px);
    padding-bottom: 3rem;
    z-index: 2;
}

a {
    text-decoration: none;
    color: #333;
}
h1 {
    font-size: 2rem;
    color: var(--white);
    transition: all .6s;
}
h1 span{
    color: var(--shakespeare);
    font-size: 2.2rem;
}
/* title animation */
h1 span::before {
    content: "";
    right: -8px;
    top: 50%;
    height: 30px;
    width: 2px;
    background: var(--shakespeare);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}
h1 span.stop-blinking::before {
    animation: none;
}

/* About me seccion*/

.subtitules{
    text-align: center;
    margin: 3rem 0 3rem 0;
}
.div-borde{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.profile-image{
    width: 100%;
    height: auto;
    display: block;
    transform: translate(-20px, -20px); 
    z-index: 0; 
}
.borde {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    border: 5px solid var(--shakespeare);
    box-sizing: border-box; 
}
.p-about-me{
    margin: 1rem;
}
.p-about-me p, .p-project{
    margin: 0 auto;
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: .5rem;
}
.resume-en, .resume-sp{
    padding: .8rem 1rem .8rem 1rem;
    border-radius: .5rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
}
.resume-en{
    background: rgb(87,161,213);
    background: linear-gradient(90deg, rgba(87,161,213,1) 34%, rgba(85,26,219,1) 100%);
    border: none;
    margin-right: 1rem;
}

.resume-sp{
    background-color: var(--body-color);
    border: 2px solid rgba(85,26,219,1);
}
.buttons-resume{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* project section */
.container-project{
    margin: 1rem;
}
.title-project{
    font-weight: normal;
    text-transform: uppercase;
    color: var(--shakespeare);
    margin-bottom: 1rem;
}
.name-project{
    margin-bottom: .5rem;
}
.borde-img-project {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 4rem auto;
}

.img-project{
    width: 100%;
    height: auto;
    display: block;
    transform: translate(20px, 20px); 
    z-index: 0;  
}
.div-read-more{
    display: flex;
    justify-content: left;
}

.arrow-read{
    width: 10px;
    height: auto;
    margin-right: 8px;
}
.div-read-more p{
    font-size: .8rem;
    font-weight: 300;
    color: white;
}
.more-info-all {
    display: none;
}

.button-all-projects{
    font-weight: 600;
    margin-right: 0px;
}
.all-div{
    display: flex;
    justify-content: center !important;
    margin-bottom: 4rem;
}

/*experience section*/
.experience-sec{
    text-align: center;
}
.tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}
.icon{
    width: 50px;
    height: 50px; 
    margin: 1rem 3rem;
}
.div-icon{
    margin: 1px 0rem;
}
.p-icono{
    margin-bottom: 3rem;
}
.skills{
    margin-bottom: 3.2rem;
}

/* contact section */
.contactos {
    background: rgb(85,26,219);
    background: linear-gradient(90deg, rgba(85,26,219,1) 0%, rgba(87,161,213,1) 100%);
    position: relative;
    border-radius: 60px 60px 0 0; 
    padding: 30px;
}

.izquierda {
    position: absolute;
    top: -60px;
    left: 0px;
    width: 80px; 
    height: 150px; 
    background: rgb(85,26,219);
    background: linear-gradient(120deg, rgba(85,26,219,0.7749299548921131) 0%, rgba(87,161,213,1) 100%);
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    opacity: 0.5;
}

.derecha{
    position: absolute;
    width: 80px; 
    height: 150px; 
    background: rgb(85,26,219);
    background: linear-gradient(120deg, rgba(85,26,219,0.7749299548921131) 0%, rgba(87,161,213,1) 100%);
    border-radius: 100px 0 0 100px;
    top: -60px;
    right: 0px;
    opacity: 0.5;
}

.contact-t{
    text-align: center;
    margin-bottom: 1rem;
}
.drop{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.info-item{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.7rem;
}
.icon-contact{
    width: 35px;
    height: 35px;
    background: rgb(87,161,213);
    background: linear-gradient(160deg, rgba(87,161,213,1) 50%, rgba(85,26,219,0.464005585144214) 100%);
    padding: 0.5rem;
    border-radius: .4rem;
    margin-right: 0.5rem;
}

/* form section */
form{
    background: var(--body-color);
    width: 100%;
    padding: 1.5rem;
    border-radius: .4rem;
    margin-bottom: 3rem;
}

.field{
    position: relative;
}

.field-input{
    width: 100%;
    background-color: var(--body-color);
    color: white;
    padding: .7rem;
    border: 2px solid white;
    margin-bottom: 2rem;
    border-radius: .4rem;
    outline: none;
}

/* Estilo para inputs autocompletados */
.field-input:-webkit-autofill {
    background-color: var(--body-color);
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s; 
}

/* Para Firefox */
.field-input:-moz-autofill {
    background-color: var(--body-color);
    color: white;
}

.field label{
    position: absolute;
    top: 20%;
    left: 35px;
    transform: translate(-50%);
    pointer-events: none;
    font-size: 0.9rem;
    transition: .3s;
}

.field-input:focus ~ label, 
.field-input.not-empty ~ label{
    top:-8px;
    left: 35px;
    font-size: 0.8rem;
    padding: 0 2px;
    background: var(--body-color)
}
.t-area{
    height: 6rem;
}
.send-button{
    background-color: var(--body-color);
    color: white;
    font-weight: 600;
    padding: .7rem 2rem;
    border: 2px solid white;
    margin-bottom: .7rem;
    border-radius: .4rem;
}

/* footer */
footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-top: 0.5px solid white;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
}
footer .right{
    display: flex;
    justify-content: center;
   
}

.linkedin{
    padding: 0;
}

footer .left-f{
    margin-top: .8rem;
    font-size: .6rem;
}

/* modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    overflow: auto; 
}

.modalOpen{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.openModal{
    cursor: pointer;
}

/* Contenedor del contenido de la modal */
.modal-content {
    background-color: var(--cold-turkey);
    margin: 15% auto; 
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    max-width: 600px;
    text-align: center;
    color: var(--body-color);
}

/* Estilo del botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

body.modal-open {
    overflow: hidden;
}

.modal-p{
    font-size: .9rem;
    text-align: justify;
    margin-top: 1rem;
}

.modal-buttons{
    margin-top: 1.5rem;
}
.view-code-btn{
    padding: .3rem .5rem;
    border-radius: .4rem;
    color: var(--body-color);
    font-weight: 300;
    font-size: 0.8rem;
    border: 2px solid rgba(85,26,219,1);
    background-color: var(--cold-turkey);
    font-weight: 900;
    cursor: pointer;
}



