
:root {
--cold-turkey: #d3c0c4;
--ebony: #131432;
--indigo: #4958c7;
--shakespeare: #57a1d5;
--east-bay: #50537e;
--red-violet: #cd1cb7;
--kabul: #674a43;
--rhino: #2b355a;
--thunder: #3b333a;
--river-bed: #455660;
}
